<!doctype html>
<html>
<head><meta charset="utf-8"><title>Horse Racing UI</title></head>
<body>
  <h2>Horse Racing Database</h2>
  <ul>
    <li><a href="/q1">Q1: Horses by Owner</a></li>
  </ul>
</body>
</html>
